{% macro open(name,label,errors) %}
    <div class="form-group{% if errors.has(name) %} has-error{% endif %}">
        <div class="col-sm-3">
            <label for="{{ name }}" class="control-label">
                {{ label }}
            </label>
        </div>
        <div class="col-sm-9">
{% endmacro %}

{% macro close(name,errors) %}
            {#<div class="form-control-line"></div>#}
            {% for error in errors.get(name) %}
                <span class="help-block">{{ error }}</span>
            {% endfor %}
        </div>
    </div>
{% endmacro %}

{% macro text(name,object,placeholder) %}
    <input
        type="text"
        name="{{ name }}"
        id="{{ name }}"
        class="form-control"
        {% if placeholder %}placeholder="{{ placeholder }}"{% endif %}
        value="{{ attribute(object, name) }}"
        >
{% endmacro %}

{% macro ajaxSelect(name, object, url, limit, relation) %}

    <select
            name="{{ name }}"
            value="{{ attribute(object, name) }}"
            type="text"
            id="{{ name }}"
            class="form-control"
            data-limit="{{ limit|default(1) }}"
            data-ajax-select="{{ url }}"
            >
    {% if attribute(object, name) %}
        {% if relation|default(false) is sameas(false) %}{% set relation = name|trim('_id') %}{% endif %}
        <option value="{{ attribute(object, name) }}" selected="selected">
            {{ attribute(object, relation).present().name }}
        </option>
    {% endif %}
    </select>
{% endmacro %}

{% macro checkbox(name,label,object,value) %}
    <div class="checkbox checkbox-styled checkbox-success">
        <label>
            <input type="checkbox" name="{{ name }}" value="{{ value|default(1) }}"{% if attribute(object,name) %} checked="checked"{% endif %}>
            <span>{{ label }}</span>
        </label>
    </div>
{% endmacro %}