{% extends _tenant['mi-config']['views-namespace'] ~ "::template.index" %}

{% block section_body %}
    <div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body no-padding">
                    <div class="table-responsive no-margin">
                        <table class="table table-striped no-margin">
                            <thead>
                            <tr>
                                <th>{% include _tenant['mi-config']['views-namespace'] ~ "::template.interface.icons.website" %} {{ trans_choice('management-interface::website.website',1) }}</th>
                                <th>{% include _tenant['mi-config']['views-namespace'] ~ "::template.interface.icons.hostname" %} {{ trans_choice('management-interface::hostname.hostname',2) }}</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for website in websites %}
                                <tr>
                                    <td>
                                        <code>{{ website.id }} {{ website.present().name }}</code>
                                    </td>
                                    <td>
                                        {{ website.present().hostnamesSummary }}
                                        {% if website.present().additionalHostnames > 0 %}
                                            <span class="badge">{{ trans('management-interface::generic.n-more', {'n': website.present().additionalHostnames}) }}</span>
                                        {% endif %}
                                    </td>
                                    <td class="text-right">
                                        {% include _tenant['mi-config']['views-namespace'] ~ "::template.interface.buttons.view" with {'size': 'xs'} %}
                                    </td>
                                </tr>
                            {% endfor %}
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td colspan="2" class="text-center">
                                        {{ websites.render() }}
                                    </td>
                                    <td class="text-right">
                                        {% include _tenant['mi-config']['views-namespace'] ~ "::template.interface.buttons.add" with {
                                            'modal': '#add-website-form'
                                        } %}
                                    </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include _tenant['mi-config']['views-namespace'] ~ "::website.forms.add-website" %}
{% endblock %}