<!DOCTYPE html>
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no" />
        <meta name="csrf-token" content="{{ csrf_token() }}" />

        <title>{% if title|default(section_title) %}{{ title|default(section_title) }} &middot; {% endif %}{{ site_title|default('Management interface') }}</title>

        <link type="text/css" rel="stylesheet" href="//media.hyn.me/css/theme-{{ _tenant['mi-config']['theme'] }}/bootstrap.css" />
        <link type="text/css" rel="stylesheet" href="//media.hyn.me/css/theme-{{ _tenant['mi-config']['theme'] }}/materialadmin.css" />
        <link type="text/css" rel="stylesheet" href="//media.hyn.me/css/theme-{{ _tenant['mi-config']['theme'] }}/font-awesome.min.css" />
        <link type="text/css" rel="stylesheet" href="//media.hyn.me/css/theme-{{ _tenant['mi-config']['theme'] }}/material-design-iconic-font.min.css" />

        <!-- plugins -->
        <link type="text/css" rel="stylesheet" href="//media.hyn.me/css/theme-{{ _tenant['mi-config']['theme'] }}/libs/typeahead/typeahead.css">
        <link type="text/css" rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css">

        <link href='//fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>
    </head>
    <body class="menubar-first menubar-pin">

        {% block header %}{% endblock %}

        {% block base %}
        <div id="base">
            {% block offcanvas_left %}{% endblock %}
            {% block content %}
            <div id="content">
                <section>
                    {% if section_title %}
                    <div class="section-header">
                        <ol class="breadcrumb">
                            <li class="active">{{ section_title }}</li>
                        </ol>
                    </div>
                    {% endif %}
                    <div class="section-body">
                        {% block section_body %}{% endblock %}
                    </div>
                </section>
            </div>
            {% endblock %}
            {% block menubar %}
            <div id="menubar">
                <div class="menubar-fixed-panel">
                    <div class="menubar-scroll-panel">
                        <ul id="main-menu" class="gui-controls gui-controls-tree">
                            {% block menubar_items %}
                            <li>
                                <a href="{{ route('management-interface@dashboard@index') }}">
                                    <div class="gui-icon"><i class="fa fa-dashboard"></i></div>
                                    <span class="title">Dashboard</span>
                                </a>
                            </li>
                            <li>
                                <a href="{{ route('management-interface@website@index') }}">
                                    <div class="gui-icon">{% include _tenant['mi-config']['views-namespace'] ~ "::template.interface.icons.website" %}</div>
                                    <span class="title">Websites</span>
                                </a>
                            </li>
                            {% endblock %}
                        </ul>
                        <div class="menubar-foot-panel text-center">
                            {% block menubar_footer %}
                            <a href="http://hyn.me/assistance">
                                <i class="fa fa-life-ring"></i>
                                Assistance
                            </a>
                            {% endblock %}
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}
            {% block offcanvas_right %}{% endblock %}
        </div>
        {% endblock %}


    <script src="//media.hyn.me/js/libs/jquery/jquery-1.11.2.min.js"></script>
    <script src="//media.hyn.me/js/libs/jquery/jquery-migrate-1.2.1.min.js"></script>
    <script src="//media.hyn.me/js/libs/bootstrap/bootstrap.min.js"></script>
    <script src="//media.hyn.me/js/libs/nanoscroller/jquery.nanoscroller.min.js"></script>

    <!-- plugins -->
    <script src="//media.hyn.me/js/libs/typeahead/typeahead.bundle.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>

    <script src="//media.hyn.me/js/core/source/App.min.js"></script>
    <script src="//media.hyn.me/App.js"></script>
    {% block footer_js_extra %}{% endblock %}
    </body>
</html>