{% import _tenant['mi-config']['views-namespace'] ~ "::template.forms.input-macro" as input %}

<form class="form-horizontal" role="form" method="POST">
    <input type="hidden" name="_token" value="{{ csrf_token() }}">
    <div class="modal-body">
        {{ input.open('identifier', trans('management-interface::website.identifier'), errors) }}
        {{ input.text('identifier', website, trans('management-interface::website.identifier-ex')) }}
        {{ input.close('identifier', errors) }}

        {{ input.open('tenant_id',trans_choice('management-interface::tenant.tenant',1), errors) }}
        {{ input.ajaxSelect('tenant_id',website,route('management-interface@tenant@ajax'),1) }}
        {{ input.close('tenant_id', errors) }}
    </div>
    <div class="modal-footer">
        <a href="{{ route('management-interface@website@read', website.present().urlArguments) }}" class="btn btn-default">{{ trans('management-interface::action.cancel') }}</a>
        <button type="submit" class="btn btn-primary">{{ trans('management-interface::action.edit') }}</button>
    </div>
</form>
