{% import "management-interface::template.forms.input-macro" as input %}

<form class="form-horizontal" role="form" method="POST">
    <input type="hidden" name="_token" value="{{ csrf_token() }}">
    <div class="modal-body">
        {{ input.open('hostname', trans_choice('management-interface::hostname.hostname',1), errors) }}
        {{ input.text('hostname', hostname, trans('management-interface::hostname.hostname-ex')) }}
        {{ input.close('hostname', errors) }}

        {{ input.open('tenant_id',trans_choice('management-interface::tenant.tenant',1), errors) }}
        {{ input.ajaxSelect('tenant_id',hostname,route('management-interface@tenant@ajax'),1) }}
        {{ input.close('tenant_id', errors) }}

        {{ input.open('website_id',trans_choice('management-interface::website.website',1), errors) }}
        {{ input.ajaxSelect('website_id',hostname,route('management-interface@website@ajax'),1) }}
        {{ input.close('website_id', errors) }}

        {{ input.open('redirect_to',trans('management-interface::hostname.redirect_to'), errors) }}
        {{ input.ajaxSelect('redirect_to',hostname,route('management-interface@hostname@ajax'),1, 'redirectToHostname') }}
        {{ input.close('redirect_to', errors) }}

        {{ input.open('sub_of',trans('management-interface::hostname.sub_of'), errors) }}
        {{ input.ajaxSelect('sub_of',hostname,route('management-interface@hostname@ajax'),1, 'subDomainOf') }}
        {{ input.close('sub_of', errors) }}

        {{ input.open('prefer_https',trans('management-interface::hostname.prefer_https'), errors) }}
        {{ input.checkbox('prefer_https',trans('management-interface::hostname.prefer_https-help'),hostname) }}
        {{ input.close('prefer_https', errors) }}

    </div>
    <div class="modal-footer">
        <a href="{{ route('management-interface@website@read', hostname.website.present().urlArguments) }}" class="btn btn-default">{{ trans('management-interface::action.cancel') }}</a>
        <button type="submit" class="btn btn-primary">{{ trans('management-interface::action.edit') }}</button>
    </div>
</form>
